/*style.css*/
* {
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 95%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('assets/images/clouds.jpg') no-repeat center center fixed;
}

  header {
    background-color: lightBlue;
    height: 80px;
    width: 100%;
  }

    .logoOval {
      height: 44px;
      width: 140px;
      background-color: white;
      border-radius: 22px;
      text-align: center;
      margin: 0px auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      line-height: 44px;
    }

    header h3 {
      color: lightblue;
      font-size: 25px;
    }

  .main {
    padding: 25px 50px;
  }

  .viewContainer {
    background-color: rgba(255, 255, 255, 0.1);
    /*border-radius: 20px;*/
    border: 2px solid lightblue;
    padding: 20px;
    float: left;
  }

  .state {
    font-size: 20px;
    color: lightblue;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /*background-color: white;*/
  }

  .tempCircle, .mainCircle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 10px 15px 10px;
    float: left;
    line-height: 100px;
  }

  .tempCircle {
    background-color: lightblue;
    color: white;
    text-align: center;
  }

  .mainCircle {
    border: 1px solid lightblue;
    color: lightblue;
    text-align: center;
  }

  .tempCircle span {
    font-family: helvetica, sans-serif;
    font-weight: 800;
    font-size: 35px;
  }

  .mainCircle span {
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
  }

  .largeText {
    font-weight: bold;
    color: white;
    font-size: 110px;
    line-height: 140px;
    display: inline-block;
    padding: 100px 0 0 60px;
    float: left;
    kerning: normal;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
  }

  @media (max-width: 1100px) {
    .largeText {
      font-size: 75px;
      line-height: 100px;
    }
  }

  @media (max-width: 900px) {
    .largeText {
      display: none;
    }
  }

  h6 {
    color: white;
    text-align: center;
  }

  input[type="text"] {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
  }

  input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }

  input[type="button"] {
    width: 100%;
    cursor: pointer;
    height: 30px;
    background: #FFF;
    border: 1px solid white;
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }

  input[type="button"]:hover, input[type="button"]:focus {
    background-color: rgba(255, 255, 255, .3);
  }

  .addOutfit {
    margin: 15px 0 20px;
  }

  a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 800;
    background-color: lightblue;
    color: black;
    border: 1px solid white;
    padding: 10px;
  }

  .match {
    border: 1px solid white;
    padding: 5px 0 0 15px;
    position: relative;
    top: -10px;
  }

    .hot-ng {
      background-color: rgba(255, 0, 0, .3);
      color: pink;
    }

    .cold-ng {
      background-color: rgba(50, 100, 225, .3);
      color: lightblue;
    }

    .comfy-ng {
      background-color: rgba(255, 255, 255, .2);
      color: white;
    }

  .wearthers {
    overflow: scroll;
    height: 402px;
    width: 250px;
  }

    .wearther {
      padding: 1px;
      margin: 5px auto;
    }

      .wearther p {
        font-size: 13px;
        text-align: center;
      }
