/*style.css*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

  header {
    background-color: lightBlue;
    height: 80px;
    width: 100%;
  }

    .logoOval {
      height: 30px;
      width: 120px;
      background-color: white;
      border-radius: 15px;
      margin: 0 auto;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    header h3 {
      color: lightblue;
      line-height: 30px;
    }

  .topSpacer {
    height: 20px;
  }

  .leftSpacer {
    width: 100px;
    display: inline-block;
  }

  .viewContainer {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 20px;
    border: 2px solid lightblue;
    padding: 20px;
  }
