<!-- allTmpl.html -->
<h1 class="state">all</h1>

<hr/>

<div class="wearthers">
  <div class="wearther" ng-repeat="wearther in wearthers" ng-class="wearther.comfortLevel === 'Too Cold' ? 'cold-ng' : (wearther.comfortLevel === 'Too Hot' ? 'hot-ng' : 'comfy-ng')">
      <div class="date"><span><strong>{{ wearther.date }}</strong></span></div>
      <p>Weather: <strong>{{ wearther.temperature }}&deg; | {{ wearther.main }}</strong></p>
      <p>Outfit: <strong>{{ wearther.outfit }}</strong></p>
      <p>Felt: <strong>{{ wearther.comfortLevel }}</strong></p>
      <input type="button" ng-click="wearthers.$remove(wearther)" value="Delete">
  </div>
</div>

<hr/>

<div class="nav">
  <a ui-sref="home">Home</a>
  <a ui-sref="add">Add</a>
  <a ui-sref="all">All</a>
</div>
