<!-- addTmpl.html -->
<h1>Add</h1>

<hr/>

<div class="currentWeather">
  <dir-current-weather temperature="temperature" main="main"></dir-current-weather>
</div>

<form class="newForm">
  <div class="newOutfit">
    <p><h6>What are you wearing?</p></h6>
    <div class="newOutfitInput">
      <input type="text" ng-model="newOutfit" placeholder="Ex: Jeans, T-shirt, Jacket" class="focus" required>
    </div>
  </div>
  <div class="comfortLevel">
    <p><h6>How do you feel?</p></h6>
    <div class="comfortLevelButtons">
      <label><input type="radio" ng-model="comfortLevel" value="Too Hot" required> Too Hot</label>
      <label><input type="radio" ng-model="comfortLevel" value="Too Cold" required> Too Cold</label>
      <label><input type="radio" ng-model="comfortLevel" value="Comfy" required> Comfy</label>
    </div>
  </div>
  <div>
    <input type="button" ng-click="submitWearther()" value="Add Outfit">
  </div>
</form>


<hr/>

<div class="nav">
  <a ui-sref="home">Home</a>
  <a ui-sref="add">Add</a>
  <a ui-sref="all">All</a>
</div>
