<!-- addTmpl.html -->
<h1>Add</h1>

<div class="currentWeather">
  <dir-current-weather temperature="temperature" main="main"></dir-current-weather>
</div>

<h6>
  Test 2: {{ test2 }}
</h6>

<form class="newForm">
  <div class="newOutfit">
    What are you wearing?
    <div class="newOutfitInput">
      <input type="text" ng-model="newOutfit" placeholder="What are you wearing?">
    </div>
  </div>
  <div class="comfortLevel">
    How do you feel?
    <div class="comfortLevelButtons">
      <label><input type="radio" ng-model="comfortLevel" value="Too Hot"> Too Hot</label>
      <label><input type="radio" ng-model="comfortLevel" value="Too Cold"> Too Cold</label>
      <label><input type="radio" ng-model="comfortLevel" value="Comfy"> Comfy</label>
    </div>
  </div>
  <div>
    <input type="button" ng-click="submitWearther()" value="Submit">
  </div>
</form>


<hr/>

<div class="nav">
  <a ui-sref="home">Home</a>
  <a ui-sref="add">Add</a>
  <a ui-sref="all">All</a>
</div>
